/* to-do header */
.to-do-container{
 max-width: 450px;
 margin: 0rem auto 0;   
 background-color: #fdfdfd;
 padding: 1.5rem;
 border-radius: 15px;
}
.to-do-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/*to-do form*/
#to-do-form,
 #edit-form{
    padding: 1rem;
    border: 1px solid #ccc;
}
#to-do-form p, 
#edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
}
.form-control {
    display: flex;
}
.form-control input{
    margin-right: 0.3rem;
}
#cancel-edit-btn{
    margin-top: 1rem;
}

/* to-do toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
#toolbar h4{
    margin-bottom: .5rem;
}
#search {
    border-right: 1px sold #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
    display: flex;
}
#search input{
    width: 100%;
    margin-right: 0.3rem;
}
#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}
#filter select{
    flex: 1;
}

/* to-do list */
.to-do {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}
.to-do h3 {
    flex: 1;
    font-size: 0.9rem;
}
.to-do button {
    margin-left: 0.4rem;
}
.done {
    background-color: #395169;
}
.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}